[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
alembic = "*"
python-dotenv = "*"
uvicorn = "*"
psycopg2-binary = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
